.orc {
  background: $white;
  margin: 16px;
  width: 200px;
  border-radius: 2px;

  .orc-image {
    overflow: hidden;
    border-radius: 2px 2px 0 0;
    max-height: 200px;
    height: 200px;
    img {
      cursor: zoom-in;
      width: 100%;
      height: auto;
      transition: transform 300ms ease-in;
      transform: scale(1);
      @media (min-width: 991px) {
        min-height: 200px;
        
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .orc-name {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
    margin-top: 10px;
    text-transform: lowercase;
  }

  .orc-name::first-letter{
    text-transform: uppercase;
  }

  .orc-name,
  .product-price {
    color: $gray-medium;
    padding: 0 16px;
    text-align: center;
  }
  .info-action {
    padding: 16px;
    button {
      width: 100%;
      transition: all 300ms ease-in;
      &.added {
        background: $primary-orange;
      }
    }
  }
  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

